@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    font-family: 'Raleway';
    background-color: #758190;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    justify-content: space-between;
    color: #FAF0E6;
}

.left{
    display: flex;
    align-items: center;
}
.right{
    display: flex;
    align-items: center;
}

.right a{
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 1.5rem;
}

#background-info {
    margin-top: 2%;
}

.stats-container {
    display: flex;
    align-items: stretch;
}

#stats{
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 5%;
}

.stats-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}


.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* #games{
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 8%;
} */

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Raleway';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

button:hover {
    box-shadow: 0 0 30px lightblue; 
    transform: translateY(-2px); 
    
}

/* Active state */
button:active {
    background-color: #56708b; 
    transform: translateY(0); 
}

.search-container {
    width: 100%;
    text-align: center;
}

#search-input{
    /* width: 30%;
    height: 50px;
    size: 200px; */
    font-size: 1rem;
    padding: 1%;
    width: 30%;
}

#games-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2%;
}

